.ant-picker-now-btn {
  color: #20a2a2;
}

.ant-picker-today-btn {
  color: #20a2a2;
}

.ant-picker-ok {
  .ant-btn-primary {
    border-color: #20a2a2;
    background: #20a2a2;
    color: #fff;
  }
}
