.popoverNotiQuickfilter {
    position: fixed !important;
  
  
    
    .ant-popover-inner {
      width: 190px;
  
      overflow-y: auto;
      border-radius: 4px;
  
      .ant-popover-inner-content {
        padding: 0;
        div {
          height: unset;
          max-height: 400px;
        }
      }
    }
  
    .ant-popover-title {
      text-align: center;
    }
    .ant-popover-inner-content {
      width: unset !important;
    }
  }