<script src="oidc-client.min.js"></script>
<script>
    var mgr = new Oidc.UserManager();
    mgr.signinSilentCallback().then((user)=>{
    }).catch(function (error) {
        console.error(error);
    });
</script>
