.customNumpad {
  top: 80px !important;

  .ant-popover-inner {
    border-radius: 10px !important;
  }

  .ant-popover-inner-content {
    padding: 0 !important;
    height: 0;
  }

  .ant-popover-arrow {
    display: none;
  }
}
