.popoverNoti {
  position: fixed !important;

  .ant-popover-content {
    height: 720px;
    width: 392px;
  }

  .ant-popover-inner {
    height: 100%;
    overflow-y: auto;
    border-radius: 4px;

    .ant-popover-inner-content {
      height: 100%;
      padding: 0;
    }
  }

  .ant-popover-title {
    text-align: center;
  }
  .ant-popover-inner-content {
    width: unset !important;
  }
}

.popoverMenuNoti {
  border-radius: 2px;

  .ant-popover-inner-content {
    padding: 4px 0px;
  }

  .ant-popover-inner {
    border-radius: 2px;
  }
}
