@font-face {
  font-family: "Roboto-Thin";
  src: url("./configs/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin-Italic";
  src: url("./configs/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./configs/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-LightItalic";
  src: url("./configs/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./configs/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Italic";
  src: url("./configs/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./configs/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("./configs/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("./configs/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BoldItalic";
  src: url("./configs/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("./configs/fonts/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  src: url("./configs/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}

:root {
  --roboto-100: Roboto-Thin;
  --roboto-100-i: Roboto-Thin-Italic;
  --roboto-300: Roboto-Light;
  --roboto-300-i: Roboto-LightItalic;
  --roboto-400: Roboto-Regular;
  --roboto-400-i: Roboto-Italic;
  --roboto-500: Roboto-Medium;
  --roboto-500-i: Roboto-MediumItalic;
  --roboto-700: Roboto-Bold;
  --roboto-700-i: Roboto-BoldItalic;
  --roboto-900: Roboto-Black;
  --roboto-900-i: Roboto-BlackItalic;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: var(--roboto-400), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-table-thead > tr > th {
  font-family: var(--roboto-500);
}
.ant-drawer-title {
  font-family: var(--roboto-500);
}

.ant-modal-title {
  font-family: var(--roboto-500);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

.ant-input[disabled] {
  color: #8c8c8c !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #efefef;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f3f3;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d6d6;
}

.notification-global {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 446px;

  .ant-notification-notice-icon {
    top: 50%;
    font-size: 31px;
    transform: translateY(-50%);
  }

  .ant-notification-notice-message {
    color: #252424;
    font-family: var(--roboto-500);
    font-size: 18px;
    padding-left: 7px;
    text-transform: capitalize;
  }

  .ant-notification-notice-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #bfbfbf;
    font-size: 16px;
    padding-right: 30px;
    padding-left: 7px;
  }
}

.ant-notification-notice-close {
  top: 50%;
  transform: translateY(-50%);
}

// .ant-select:hover {
//   .ant-select-selector {
//     border-color: #0ab2ab;
//   }
// }
// .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
//   border-color: #0ab2ab !important;
// }

.customDrawerEmail {
  .sun-editor .se-wrapper .se-wrapper-inner {
    max-height: 480px;
    height: unset !important;
  }
}

.ant-breadcrumb {
  ol {
    align-items: center;
  }
}

.ql-font-arial,
.ql-font span[data-value="arial"]::before {
  font-family: Arial, sans-serif;
}
.ql-font-comic-sans,
.ql-font span[data-value="comic-sans"]::before {
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.ql-font-courier-new,
.ql-font span[data-value="courier-new"]::before {
  font-family: "Courier New", sans-serif;
}
.ql-font-georgia,
.ql-font span[data-value="georgia"]::before {
  font-family: Georgia, serif;
}
.ql-font-helvetica,
.ql-font span[data-value="helvetica"]::before {
  font-family: Helvetica, sans-serif;
}
.ql-font-lucida,
.ql-font span[data-value="lucida"]::before {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Set content for sizes */
.ql-size-extra-small,
.ql-size span[data-value="extra-small"]::before {
  font-size: 13px !important;
}
.ql-size-small,
.ql-size span[data-value="small"]::before {
  font-size: 14px !important;
}
.ql-size-medium,
.ql-size span[data-value="medium"]::before {
  font-size: 18px !important;
}
.ql-size-large,
.ql-size span[data-value="large"]::before {
  font-size: 20px !important;
}
.ql-size-very-large,
.ql-size span[data-value="very-large"]::before {
  font-size: 24px !important;
}
.react-flow__node {
  z-index: -1 !important;
}
.react-flow__edge-path {
  stroke-width: 2 !important;
}
::-webkit-resizer {
  visibility: hidden;
}
.ag-font-style {
  user-select: initial;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
::-webkit-scrollbar {
  height: 8px !important;
}

.object-view {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.tox-notification {
  display: none !important;
}

.custom_popover {
  .ant-popover-inner-content {
    padding: 0px;
  }
}
